doctype html
html
    head
        title Hello World!
        link(rel="stylesheet", href="css/main.css")
    body
        h1 We use jade to generate this
        p It seems like works! :)

        script(src='js/main.js')